<h1>Stupid Coaching</h1>
<p>Ask your coach anything:</p>
<div class="input-group mb-3">

<form action="/answer" data-turbo="false" class="input-group mb-3">
  <input type="text" name="question" class="form-control">
  <input class="btn btn-primary" type="submit" value="Ask">
</form>


    <%# <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
      <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
    </div> %>
